<div class="card">
    <img src="{{item.featured_image | image_url: width:110, height:110}}" alt="">
    <div class="card-info">
      <h2>{{item.title}}</h2>
      <span>{{ item.variants.first.weight | weight_with_unit }}</span>
      {%- form 'product', item, return_to: request.path-%}
        <input type="hidden" name="id"  value="{{ item.variants.first.id }}">
        <button type="submit">
          {% render 'icon-plus' %}
          {{item.price | money_with_currency}}
        </button>
      {%- endform -%}
    </div>
  </div>
  